<style class="cp-pen-styles">@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://cdn.cloudcache.dk/materialize/0.95.3/css/materialize-fonts.css);

body, h1 {
	margin: 0;	
}
body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.headerp {
	width: 100%;
  height: 10px;
	text-align: center;
	background-color: #3F51B5;
	color: #eee;
	padding: 200px 0;
	position: relative;
	z-index: -1;
}
.headerp>h1 {
	font-weight: 400;
	font-size: 64px;
}
.floating-item-container {
	position: relative;
	width: 600px;
	margin: 0 auto;
	height: 500px;
	top: -300px;
}
.button-container {
	height: 100%;
	position: relative;
	overflow: hidden;
}
.button-container>.btn {
	transition: all 0.5s;
	max-width: 1000px;
	max-height: 1000px;
/*
	position: absolute;
	right: 10px;
	bottom: 100px;
*/
    position: fixed;
    bottom: 10px;
    right: 10px; 
}
.btn-float {
  width: 55.5px;
  height: 55.5px;
  background: #FF4081;
  border: none;
  outline: 0;
  border-radius: 50%;
  color: #eee;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 0;
  line-height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
     
}
.btn-float i {
  font-size: 1.6rem;
}
.button-container.open>.btn:before {
	display: none;
}
/*
.modal {
	z-index: 20;
	display: none;
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
    
	color: #eee;
	background-color: #FF4081;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}
*/
.closed {
	display: inline-block;
  position: relative;
  margin: 10px;
  right: 10px;
	width: 100%;
  text-align: right;
  float: right;
  font-size: 1.6rem;
	line-height: 37px;	
	color: rgba(0,0,0,0.37);
}
.modal>.closed:hover {
	cursor: pointer;
}
/*
.modal>.modal-contenti {
	width: 100%;
	height: 100%;
	padding: 10px;
}
.modal>.modal-contenti>h3 {
  font-size: 52px;
	text-align: center;
	padding-top: 150px;
}
*/

    
    
/*leader    */
    
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body,
html {
min-width: 100%;
min-height: 100%;
width: 100%;
height: 100%;
background: #eee;
font-family: "Montserrat", sans-serif;
}

.wrapper {
max-width: 400px;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/*overflow-y: scroll;*/
}
.wrapper .wrapper__header {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
background: #3558db;
padding: 27px 30px;
display: flex;
justify-content: space-between;
align-items: center;
}
.wrapper .wrapper__header .b_caption p {
color: #dae0fb;
font-size: 16px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;
}
.wrapper .wrapper__header .b_caption p span {
display: block;
text-transform: uppercase;
letter-spacing: 1.5px;
font-size: 8px;
}
.wrapper .wrapper__content {
background: #fff;
padding: 10px;
}
.wrapper .wrapper__content ul {
list-style: none;
}
.wrapper .wrapper__content ul li {
cursor: pointer;
background: #fefefe;
padding: 10px 5px;
border-radius: 5px;
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
display: flex;
justify-content: space-around;
align-items: center;
transition: transform 0.1s ease-in-out;
z-index: 4;
}
.wrapper .wrapper__content ul li:hover {
z-index: 2;
transform: scale(1.04);
box-shadow: 0px 0px 16px 13px rgba(0, 0, 0, 0.1);
}
.wrapper .wrapper__content ul li:not(:last-child) {
margin-bottom: 10px;
}
.wrapper .wrapper__content ul li .graphic {
width: 50px;
height: 30px;
border-radius: 50%;
background: #ebeef3;
overflow: hidden;
padding: 5px;
}
.wrapper .wrapper__content ul li .graphic img {
width: 100%;
border-radius: 50%;
}
.wrapper .wrapper__content ul li .name span {
vertical-align: middle;
}
.wrapper .wrapper__content ul li .name span.headerk {
color: #979cb0;
font-weight: 700;
margin-right: 15px;
vertical-align: middle;
}
.wrapper .wrapper__content ul li .name span.stat {
color: #35d8ac;
font-weight: 700;
font-size: 25px;
}
.wrapper .wrapper__content ul li .name span.sub {
color: #35d8ac;
font-weight: 700;
font-size: 10px;
vertical-align: sub;
}
.wrapper__content{
  overflow-y: scroll;
  max-height: 500px;
}
 .page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
}

    
    </style>